In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


%matplotlib inline

In [ ]:
def load_data(filename, sheetname, headers=3, joints='hip knee ankle'):
    joints_t = tuple(joints.split())
    data_pd = pd.read_excel(filename, sheet_name=sheetname, header=[0, 1, 2])
    r_hip = data_pd['right']

In [8]:
sheetname = 'krup_poly'
data = pd.read_excel('sheetdata/United data.xlsx', sheet_name=sheetname, header=[0, 1, 2])

In [9]:
data.head()

      right                                                                \
        hip                    knee                   ankle
          x         y app         x         y app         x         y app
0  0.001042  1.263158 NaN  0.005208  0.285714 NaN  0.004132  0.697674 NaN
1  0.011458 -0.631579 NaN  0.010417  0.571429 NaN  0.012397  0.348837 NaN
2  0.019792 -3.157895 NaN  0.016667  1.714286 NaN  0.016529  0.000000 NaN
3  0.026042 -6.315789 NaN  0.022917  3.428571 NaN  0.020661 -0.697674 NaN
4  0.033333 -9.157895 NaN  0.028125  5.714286 NaN  0.028926 -1.395349 NaN

       left
        hip                     knee                  ankle
          x          y app         x        y app         x          y app
0  0.005208  17.217391 NaN  0.001042   6.8750 NaN  0.008333  19.811321 NaN
1  0.015625  17.478261 NaN  0.005208   7.8125 NaN  0.014583  20.867925 NaN
2  0.026042  18.260870 NaN  0.008333   9.6875 NaN  0.020833  18.754717 NaN
3  0.031250  17.478261 NaN  0.010417  11.2500 NaN  0.025000  16.377358 NaN
4  0.036458  15.391304 NaN  0.011458  12.1875 NaN  0.032292  14.792453 NaN

In [ ]:
sheetname = 'normal'
data = pd.read_excel('sheetdata/United data.xlsx', sheet_name=sheetname, header=[0, 1])